/* BG */
.bg-primary-custom{
    background-color: #5DB2E1;
}
.bg-primary-light{
    background-color: #EAFAFF;
}
/* ... */
/* Card person First */
.card-person-first{
    background-image: url(../image/element/element1.svg);
    background-repeat: no-repeat;
    background-position: -100% -300%;
    margin-top: 10rem;
}
.card-person-first .person-offset{
    margin-top: -105px !important;
}
/* .... */
/* Card Person Second */
.card-person-second{
}
.card-person-second .element1{
    position: absolute;
    width: 113px;
    height: 113px;
    left: 90px;
    top: 90px;
    border-radius: 50%;
    background-color: #5DB2E1;
    z-index: -1;
}
.card-person-second .element2{
    position: absolute;
    width: 49.32px;
    height: 51.08px;
    left: 300px;
    top: 150px;
    transform: rotate(-20deg);
    background-color: #A5C6D5;
    z-index: -1;
}
.card-person-second .element3{
    position: absolute;
    left: 255px;
    top: 305px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #FAD686;
    transform: rotate(70deg);
    z-index: -1;
}
/* .... */
/* Element */
.element-custom{
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
}
.element-custom .element-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #5DB2E1;
}
/* Padding */
.pt-height{
    padding-top: 5rem;
}
.pb-height{
    padding-bottom: 5rem;
}
/* ... */
/* Margin */
.mt-5-rem{
    margin-top: 5rem;
}
.mt-height{
    margin-top: 20rem;
}
.mb-height{
    margin-bottom: 15rem;
}
/* .... */
/* Rounded */
.rounded-custom{
    border-radius: 10px 10px 10px 10px;
}
.rounded-btn{
    border-radius: 8px 8px 8px 8px !important;
}
/* .... */
/* right-bottom-image */
.card .card-body .right-bottom-image{
    display: block;
    position: absolute;
    right: 50px;
    bottom: 50px;
    
}
/* .... */
.shadow-custom{
    box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
}
/* Social Media */
.social-media-floating{
    position: fixed;
    top: 15rem;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 16px 16px 0px;
    padding: 15px;
}

.social-media-floating .social-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.social-media-floating .social-nav .social-item{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* For bottom */
.social-media-floating-bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0px 0px;
    padding: 20px 15px;
}

.social-media-floating-bottom .social-nav{
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.social-media-floating-bottom .social-nav .social-item{
    margin-left: 40px;
    margin-right: 40px;
}
/* ... */
/* MD */
@media (max-width: 768px) {
    /* Width */
    .w-md-100-custom{
        width: 100%;
    }
    /* ... */
    .mt-md-5-custom {
        margin-top: 3rem !important;
    }
    /* Card person 2 */
    .card-person-second{
        max-width: 100%;
    }
    /* .... */
    /* Element */
    .card-person-second .element1{
        left: 60px;
        top: 50;
    }
    .card-person-second .element2{
        left: 240px;
        top: 130px;
    }
    .card-person-second .element3{
        left: 225px;
        top: 260px;
    }
}
@media (max-width: 425px) {
    /* Element */
    .card-person-second .element1{
        left: 90px;
    }
    .card-person-second .element2{
        left: 270px;
        top: 170px;
    }
    .card-person-second .element3{
        left: 275px;
        top: 320px;
    }
    .social-media-floating-bottom .social-nav .social-item{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 375px) {
    /* Element */
    .card-person-second .element1{
        left: 60px;
    }
    .card-person-second .element2{
        left: 240px;
        top: 150px;
    }
    .card-person-second .element3{
        left: 240px;
        top: 270px;
    }
    .social-media-floating-bottom .social-nav .social-item{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 320px) {
    /* Element */
    .card-person-second .element1{
        left: 50px;
        top: 60px;
    }
    .card-person-second .element2{
        left: 190px;
        top: 130px;
    }
    .card-person-second .element3{
        left: 195px;
        top: 220px;
    }
    .social-media-floating-bottom .social-nav .social-item{
        margin-left: 20px;
        margin-right: 20px;
    }
}